$color: rgb(199 5 42 / 80%);
$bgcolor: rgb(32, 35, 41);
$bgcolor2: hsla(0, 0%, 0%, 0.836);
$items: rgba(134, 133, 133, 0.671);
$color12: rgba(238, 110, 5, 0.651);
$items12: rgba(134, 133, 133, 0.37);
